<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <img src="static/imgs/CC.png">
                        </span>
                        <span class="title1">Chick Care</span>
                    </a>
                </li>

                <li>
                    <a href="/webcam">
                        <span class="icon">
                            <ion-icon name="stats-chart-outline"></ion-icon>
                        </span>
                        <span class="title">Growth Tracking</span>
                    </a>
                </li>

                <li>
                    <a href="/feeding">
                        <span class="icon">
                            <ion-icon name="layers-outline"></ion-icon>
                        </span>
                        <span class="title">Supplies Stock</span>
                    </a>
                </li>

                <li>
                    <a href="/environment">
                        <span class="icon">
                            <ion-icon name="cloudy-outline"></ion-icon>
                        </span>
                        <span class="title">Environment</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard">
                        <span class="icon">
                            <ion-icon name="notifications-circle-outline"></ion-icon>
                        </span>
                        <span class="title">Notifications</span>
                    </a>
                </li>

                <li>
                    <a href="/sanitization">
                        <span class="icon">
                            <ion-icon name="notifications-circle-outline"></ion-icon>
                        </span>
                        <span class="title">Sanitization</span>
                    </a>
                </li>

                <li>
                    <a href="/login">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="datetime">
                    <span id="displayDateTime"></span>
                </div>

		        <div class="iconn" onclick="toggleNotifi()">
			    <img src="static/imgs/bell.png" alt=""> <span>2</span>
		        </div>
		        <div class="notifi-box" id="box">
			        <h2>Notifications <span>2</span></h2>
			    <div class="notifi-item">
				    <div class="text">
				    <h4>Food and Water </h4>
                        <p>@Storage is not enough to fill the chicks</p>
			        </div>
			    </div>

			    <div class="notifi-item">
				    <div class="text">
				        <h4>John Doe</h4>
				        <p>@lorem ipsum dolor sit amet</p>
			        </div>
			    </div>

			    <div class="notifi-item">
				    <div class="text">
				        <h4>Emad Ali</h4>
				        <p>@lorem ipsum dolor sit amet</p>
			        </div>
			    </div>

			    <div class="notifi-item">
				    <div class="text">
				        <h4>Ekram Abu </h4>
				        <p>@lorem ipsum dolor sit amet</p>
			        </div>
			    </div>

			    <div class="notifi-item">
				    <div class="text">
				        <h4>Jane Doe</h4>
				        <p>@lorem ipsum dolor sit amet</p>
			        </div>
			    </div>

		        </div>



                <div class="user">
                    <img src="static/imgs/admin.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- ========================= Main ==================== -->

    <div class="Notifications">
                <h1>Notifications</h1>

            </div>

    <div class="NotifTable">
                <!-- Data table -->
            <table border="1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody id="table-body">
            <!-- Table data will be dynamically loaded here -->
            </tbody>
            </table>
        </div>

    <!-- =========== Scripts =========  -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>